<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết sản phẩm</title>
    <link href="/views/assets/detail.css" rel="stylesheet" type="text/css" />
    <%- include('../partials/header.ejs') %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css"
      media="all"
      rel="stylesheet"
      type="text/css"
    />

    <!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme CSS files as mentioned below (and change the theme property of the plugin) -->
    <link
      href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css"
      media="all"
      rel="stylesheet"
      type="text/css"
    />

    <!-- important mandatory libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js"
      type="text/javascript"
    ></script>

    <!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme JS files as mentioned below (and change the theme property of the plugin) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below (replace LANG.js with your own locale file) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/LANG.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- detail -->
    <div class="container-fluid bg-light p-3">
      <div class="container p-3">
        <div class="row mb-5">
          <div class="card p-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="border border-2 rounded-3">
                    <img
                      src="<%= data.imageUrl %>"
                      style="width: 100%; height: 100%"
                      alt="..."
                    />
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="p-3 ms-3">
                    <h3><%= data.name %></h3>
                    <h6>Tác giả: <%= data.author %></h6>
                    <h2 style="color: red"><%= data.price %> $</h2>
                    <p>
                      <% for (var j = 0; j < 5; j++){ %> <% if (j < data.rate){
                      %>
                      <span
                        class="fa fa-star checked"
                        style="color: yellow"
                      ></span>
                      <% } else { %>
                      <span class="fa fa-star"></span>
                      <% } %> <% } %>
                    </p>
                    <i><%= data.description %></i>
                    <div style="padding-top: 20px">
                      <button
                        onclick="addToCart('<%= data._id %>')"
                        type="button"
                        class="btn btn-danger"
                      >
                        <i class="bi bi-cart3"></i>&nbsp;Thêm vào giỏ hàng
                      </button>
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                      >
                        Mua ngay
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row border border-2 bg-white mb-5">
          <div class="card-header p-3 d-flex justify-content-between bg-white">
            <div><h5>Sản phẩm liên quan</h5></div>
            <div><a href="/products" id="more-link">Xem thêm</a></div>
          </div>

          <div class="d-flex flex-wrap p-3 bg-white">
            <% for (var i = 0; i < listItems.length ; i++) { %>
            <div
              class="col col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center"
            >
              <div class="card border border-1 rounded-3 mb-3" id="productCard">
                <div class="product-img">
                  <img src="<%= listItems[i].imageUrl %>" alt="..." />
                </div>

                <div class="card-body">
                  <% for (var j = 0; j < 5; j++){ %> <% if (j <
                  listItems[i].rate){ %>
                  <span class="fa fa-star checked"></span>
                  <% } else { %>
                  <span class="fa fa-star"></span>
                  <% } %> <% } %>
                  <h6
                    class="card-title"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="<%= listItems[i].name %>"
                  >
                    <span class="text-wrap text-truncate">
                      <%= listItems[i].name %>
                    </span>
                  </h6>
                  <p class="card-text">$<%= listItems[i].price %></p>
                </div>
                <div class="overlay">
                  <div class="d-grid gap-2 col-8 mx-auto">
                    <a
                      href="/products/detail/<%= listItems[i]._id %>"
                      type="button"
                      class="btn btn-outline-secondary"
                    >
                      <i class="bi bi-eye-fill"></i> &nbsp;Xem chi tiết
                    </a>
                    <button
                      onclick="addToCart('<%= listItems[i]._id %>')"
                      class="btn btn-primary"
                      type="button"
                    >
                      <i class="bi bi-cart2"></i> &nbsp;Thêm vào giỏ
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>

        <div class="row">
          <div class="card p-3">
            <div class="mb-3">
              <h4>Đánh Giá Sản Phẩm</h4>
              <div>(<%= comments.length %> đánh giá)</div>
            </div>
            <div class="container bootstrap snippets bootdey">
              <div class="row">
                <hr />
                <div class="col-md-8">
                  <div class="blog-comment">
                    <ul class="comments">
                      <% if (comments.length !== 0) { %> <%
                      comments.forEach((cmt)=> { %>
                      <li class="clearfix">
                        <img
                          src="https://bootdey.com/img/Content/user_1.jpg"
                          class="avatar"
                          alt=""
                        />
                        <div class="post-comments">
                          <p class="meta">
                            <a href="#"><%= cmt.username %></a> - <%=
                            cmt.createDate %>
                            <i class="pull-right">
                              <% for (var j = 0; j < 5; j++){ %> <% if (j <
                              cmt.rate){ %>
                              <span class="fa fa-star checked"></span>
                              <% } else { %>
                              <span class="fa fa-star"></span>
                              <% } %> <% } %>
                            </i>
                          </p>
                          <p><%= cmt.content %></p>
                        </div>
                      </li>
                      <% }) %> <% } else { %>
                      <div class="card bg-light p-5">
                        <img
                          style="margin: auto"
                          width="200px"
                          height="200px"
                          src="https://plus24h.com/upload/images/Comment-edit-icon.png"
                        />
                        <div class="fst-italic m-auto">
                          Chưa có đánh giá nào (T.T)
                        </div>
                      </div>
                      <% } %>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card w-100" style="height: auto">
                    <div class="card-header">
                      <div class="d-flex justify-content-between">
                        <div>Để lại đánh giá</div>
                      </div>
                    </div>
                    <div class="card-body">
                      <form method="POST" action="/comments/create">
                        <div class="mb-3">
                          <input
                            type="hidden"
                            name="productID"
                            value="<%= data._id %>"
                          />
                          <label for="content" class="form-label"
                            >Nội dung đánh giá</label
                          >
                          <textarea
                            class="form-control"
                            id="content"
                            rows="5"
                            name="content"
                            required
                          ></textarea>
                        </div>
                        <div class="mb-3">
                          <input
                            required
                            name="rate"
                            class="rating rating-loading"
                            data-min="0"
                            data-max="5"
                            data-step="1"
                            data-size="sm"
                          />
                        </div>
                        <% if(typeof msg !== "undefined"){ %>
                        <div class="mb-3 col-md-12">
                          <div
                            class="badge bg-danger text-wrap"
                            style="width: 100%"
                          >
                            <%= msg %>
                          </div>
                        </div>
                        <% } %>
                        <button
                          type="submit"
                          class="btn btn-primary mt-5 w-100"
                        >
                          Gửi đánh giá
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
  <script>
    function addToCart(pid) {
      $.ajax({
        url: `/cart/current/${pid}`,
        type: "GET",
        success: function (rs) {
          if (rs.msg !== undefined) {
            alert(rs.msg);
          } else {
            window.location.href = "/auth/login";
          }
        },
      });
    }
  </script>
</html>
