<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>

    <link href="/views/assets/admin.css" rel="stylesheet" type="text/css" />
    <link href="/views/assets/footer.css" rel="stylesheet" type="text/css" />
    <%- include('../../partials/header.ejs') %>
    
  </head>
  <body>
    <%- include('../../partials/admin/adminNavbar.ejs') %>
    <div class="container-fluid bg-light height-100">
      <div class="row flex-nowrap">
        <%- include('../../partials/admin/adminSidebar.ejs') %>
        <div class="col" style="margin-left: 190px">
          <% if(documentCome) { %> <%- include('./documentComeList.ejs') %> <% } %>
          <% if(users) { %> <%- include('./userList.ejs') %> <% } %>
          <% if(detailDocument) { %> <%- include('./documentDetail.ejs') %> <% } %>
          <% if(documentGo) { %> <%- include('./documentGoList.ejs') %> <% } %>
        </div>
      </div>
    </div>

    <script>
      function onClickResetDocumentCome() {
        document.getElementById("loaivbSearch").value = "";
        document.getElementById("donviSearch").value = "";
        document.getElementById("trangthaiSearch").value = "";
        document.getElementById("soVbSearch").value = "";
      }
      function onClickResetUser() {
        document.getElementById("username").value = "";
        document.getElementById("phone").value = "";
        document.getElementById("email").value = "";
      }
      function editDocumentCome(id) {
        $.ajax({
          type: "GET",
          url: `/home/detail-document-edit/${id}`,
          success: function (rs) {
            console.log('rs', rs);
            if (rs.s === 200) {
              let data = rs.data;
              document.getElementById("id_edit").value = data.id;
              document.getElementById("doc_number_edit").value = data.so_vb;
              document.getElementById("doc_type_code_edit").value = data.ma_dvb;
              document.getElementById("content_edit").value = data.noi_dung;
              document.getElementById("department_sent_edit").value = data.dv_nhan;
              document.getElementById("contact_edit").value = data.nguoi_lh;
              document.getElementById("phone_edit").value = data.dien_thoai;
              document.getElementById("take_person_edit").value = data.nguoi_nhan;
              document.getElementById("sign_person_edit").value = data.nguoi_ky_vb;
              document.getElementById("status_edit").value = data.trang_thai;
              document.getElementById("note_edit").value = data.ghi_chu;
            }
          },
        });
      }
      function deleteDocument (id) {
        $.ajax({
          type: "DELETE",
          url: `/home/delete-document/${id}`,
          success: function (rs) {
            alert("Xóa văn bản thành công");
            window.location.reload();
          },
        });
      }
      function deleteUser(id) {
        $.ajax({
          type: "POST",
          url: `/home/delete-user`,
          data: {
            userId: id,
          },
          success: function (rs) {
            if(rs.s === 200){
              alert(rs.msg);
              window.location.reload();
            } 
            if (rs.s === 403) {
              alert(rs.msg);
            }
          },
        });
      }
      function resetPassword(id) {
        $.ajax({
          type: "POST",
          url: `/home/reset-password`,
          data: {
            userId: id,
          },
          success: function (rs) {
            if(rs.s === 200){
              alert(rs.msg);
              window.location.reload();
            } 
            if (rs.s === 403) {
              alert(rs.msg);
            }
            
          },
        });
      }
      function editUser(id) {
        $.ajax({
          type: "GET",
          url: `/home/detail-user/${id}`,
          success: function (rs) {
            if (rs.s === 200) {
              let data = rs.data[0];
              // set data vừa get đc lên <input>
              document.getElementById("idEdit").value = data.id;
              document.getElementById("fullnameEdit").value = data.fullname;
              document.getElementById("usernameEdit").value = data.username;
              document.getElementById("emailEdit").value = data.email;
              document.getElementById("phonenumberEdit").value =
                data.phonenumber;
            }
            if (rs.s === 403) {
              alert(rs.msg);
            }
          },
        });
      }
    </script>
  </body>
</html>
