<div class="p-3">
  <div class="card p-3 mb-3 d-block">
    <div class="d-flex justify-content-between align-items-center">
      <div class="me-auto p-2 bd-highlight"><h3>Danh sách văn bản đến</h3></div>
      <div class="p-2">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#createModal"
          type="button"
        >
          Thêm mới
        </button>
      </div>
    </div>
  </div>

  <div class="card p-3 mb-3 d-block">
    <form action="/home/list-documentCome" method="post">
      <div class="d-flex justify-content-between align-items-center">
        <div style="width: 250px" class="p-2">
          <input
            id="soVbSearch"
            name="soVbSearch"
            type="text"
            class="form-control"
            placeholder="Số văn bản"
            value="<%= filters.soVbSearch %>"
          />
        </div>
        <div style="width: 250px" class="p-2">
          <select id="loaivbSearch" name="loaivbSearch" class="form-select">
            <option hidden value="">-Dạng Văn bản-</option>
            <% for ( var i = 0; i < listDocType.length; i++ ) { var selected = (
            listDocType[i].ma_dvb === filters.loaivbSearch ) ? "selected" : ""; %>
            <option value="<%= listDocType[i].ma_dvb %>" <%= selected %> >
              <%= listDocType[i].ten_dvb %>
            </option>
            <% } %>
          </select>
        </div>
        <div style="width: 250px" class="p-2">
          <select id="donviSearch" name="donviSearch" class="form-select">
            >
            <option hidden value="">-Đơn vị gửi-</option>
            <% for ( var i = 0; i < listDepartment.length; i++ ) { var selected
            = ( listDepartment[i].ma_dv === filters.donviSearch ) ? "selected" : "";
            %>
            <option value="<%= listDepartment[i].ma_dv %>" <%= selected %> >
              <%= listDepartment[i].ten_dv %>
            </option>
            <% } %>
          </select>
        </div>

        <div style="width: 250px" class="p-2">
          <select id="trangthaiSearch" name="trangthaiSearch" class="form-select">
            <option hidden value="">-Trạng thái-</option>
            <% for ( var i = 0; i < listStatus.length; i++ ) {  %> 
              <% var selected = (listStatus[i].ma_tt === filters.trangthaiSearch ) ? "selected" : ""; %>
              <option value="<%= listStatus[i].ma_tt %>" <%= selected %> >
              <%= listStatus[i].ten_tt %>
            </option>
            <% } %>
          </select>
        </div>
        <div class="p-2">
          <button class="btn btn-primary" type="submit">Tìm kiếm</button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            onclick="onClickResetDocumentCome()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
  <% if(documentCome.length > 0) { %>
  <table class="table table-bordered bg-white mt-3">
    <thead>
      <tr>
        <th scope="col" style="width: 100px;">Id</th>
        <th scope="col" style="width: 178px;">Ngày tạo</th>
        <th scope="col" style="width: 100px;">Số</th>
        <th scope="col" style="width: 150px;">Loại</th>
        <th scope="col">Đơn vị gửi</th>
        <th scope="col" style="width: 250px;">Người liên hệ</th>
        <th scope="col" style="width: 250px;">Người nhận</th>
        <th scope="col" style="width: 130px;">Trạng thái</th>
        <th scope="col" style="width: 130px;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <% documentCome.forEach(function(item, index) { %>
      <tr>
        <th scope="row"><%= item.id %></th>
        <td><%= item.ngay_tao %></td>
         <td><%= item.so_vb %></td>
        <td><%= item.dangVB %></td>
        <td><%= item.donvi %></td>
        <td><%= item.nguoi_lh %></td>
        <td><%= item.nguoi_nhan %></td>
        <td><%= item.trang_thai %></td>

        <td width="" align="center">
          <div class="d-grid gap-2 d-md-block">
            <a
              class="btn btn-outline-info btn-sm"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Chi tiết văn bản"
              href="/home/detail-document/<%= item.id %>"
            >
              <i class="bi bi-eye"></i>
            </a>
            <button
              type="submit"
              class="btn btn-outline-info btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#editModal"
              onclick='editDocumentCome("<%= item.id %>")'
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button
              class="btn btn-outline-danger btn-sm"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Xóa"
              onclick='deleteDocument("<%= item.id %>")'
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      <%});%>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% for(var i=1; i <= totalPage; i++) { %> <% var isActived = ( i ===
      currentPage ) ? "active" : ""; %>
      <li class="page-item <%= isActived %>">
        <form action="/home/list-documentCome" method="post">
          <input type="hidden" name="page" value="<%= i %>" />
          <input type="hidden" name="soVb" value="<%= filters.soVb %>" />
          <input type="hidden" name="loaivb" value="<%= filters.loaivb %>" />
          <input type="hidden" name="donvi" value="<%= filters.donvi %>" />
          <input
            type="hidden"
            name="trangthai"
            value="<%= filters.trangthai %>"
          />
          <button type="submit" class="btn btn-link page-link"><%= i %></button>
        </form>
      </li>
      <% }; %>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <% } else { %>
  <div class="col-12">
    <div class="card bg-light p-5">
      <img
        style="margin: auto"
        width="200px"
        height="200px"
        src="https://cdni.iconscout.com/illustration/premium/thumb/not-found-4064375-3363936.png"
      />
      <div class="fst-italic m-auto">
        Không tìm thấy kết quả phù hợp &#128517;
      </div>
    </div>
  </div>
  <% } %>
  <div
    class="modal fade"
    id="createModal"
    tabindex="-1"
    aria-labelledby="createModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModal">Thêm Văn bản đến</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            class="row g-3"
            action="/home/create-documentCome"
            method="post"
          >
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="doc_number"
                  name="so_vb"
                  placeholder=""
                  required
                />
                <label for="doc_number">Số văn bản</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating">
                <select
                  id="doc_type_code"
                  name="ma_dvb"
                  class="form-select"
                  aria-placeholder="Dạng văn bản"
                >
                  <% for ( var i = 0; i < listDocType.length; i++ ) { %>
                  <option value="<%= listDocType[i].ma_dvb %>">
                    <%= listDocType[i].ten_dvb %>
                  </option>
                  <% } %>
                </select>
                <label for="doc_type_code">Dạng văn bản</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder=""
                  id="content"
                  name="noi_dung"
                  required
                  style="height: 100px"
                ></textarea>
                <label for="content">Nội dung văn bản</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <select
                  id="department_sent"
                  name="dv_phat_hanh"
                  class="form-select"
                  aria-placeholder="Đơn vị phát hành"
                >
                  <% for ( var i = 0; i < listDepartment.length; i++ ) { %>
                  <option value="<%= listDepartment[i].ma_dv %>">
                    <%= listDepartment[i].id %> - <%= listDepartment[i].ten_dv
                    %>
                  </option>
                  <% } %>
                </select>
                <label for="department_sent">Đơn vị gửi</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="contact"
                  name="nguoi_lh"
                  placeholder="Người liên hệ"
                  required
                />
                <label for="nguoi_lh">Người liên hệ</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  name="dien_thoai"
                  placeholder="Số điện thoại"
                  required
                />
                <label for="phone">Số điện thoại</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <select
                  id="take_person"
                  name="nguoi_nhan"
                  class="form-select"
                  aria-placeholder="Người nhận"
                >
                  <% for ( var i = 0; i < listUser.length; i++ ) { %>
                  <option value="<%= listUser[i].fullname %>">
                    <%= listUser[i].fullname %>
                  </option>
                  <% } %>
                </select>
                <label for="take_person">Người nhận</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <select
                  id="sign_person"
                  name="nguoi_ky_vb"
                  class="form-select"
                  aria-placeholder="Người nhận"
                >
                  <% for ( var i = 0; i < listUser.length; i++ ) { %>
                  <option value="<%= listUser[i].fullname %>">
                    <%= listUser[i].fullname %>
                  </option>
                  <% } %>
                </select>
                <label for="sign_person">Người ký văn bản</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <select id="status" name="trang_thai" class="form-select">
                  <% for ( var i = 0; i < listStatus.length; i++ ) { %>
                  <option value="<%= listStatus[i].ma_tt %>">
                    <%= listStatus[i].ten_tt %>
                  </option>
                  <% } %>
                </select>
                <label for="status">Trạng thái</label>
              </div>
              
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder=""
                  id="note"
                  name="ghi_chu"
                  required
                  style="height: 100px"
                ></textarea>
                <label for="note">Ghi chú</label>
              </div>
            </div>

            <div class="col-12">
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-primary">Thêm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal">Chỉnh sửa văn bản</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" action="/home/edit-documentCome" method="post">
            <div class="col-md-6">
              <input type="hidden" name="id" id="id_edit" value=""/>
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="doc_number_edit"
                  name="so_vb"
                  placeholder=""
                  required
                />
                <label for="doc_number_edit">Số văn bản</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating">
                <select
                  id="doc_type_code_edit"
                  name="ma_dvb"
                  class="form-select"
                  aria-placeholder="Dạng văn bản"
                >
                  <% for ( var i = 0; i < listDocType.length; i++ ) { %>
                  <option value="<%= listDocType[i].ma_dvb %>">
                    <%= listDocType[i].ten_dvb %>
                  </option>
                  <% } %>
                </select>
                <label for="doc_type_code">Dạng văn bản</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder=""
                  id="content_edit"
                  name="noi_dung"
                  required
                  style="height: 100px"
                ></textarea>
                <label for="content">Nội dung văn bản</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <select
                  id="department_sent_edit"
                  name="dv_phat_hanh"
                  class="form-select"
                  aria-placeholder="Đơn vị phát hành"
                >
                  <% for ( var i = 0; i < listDepartment.length; i++ ) { %>
                  <option value="<%= listDepartment[i].ma_dv %>">
                    <%= listDepartment[i].id %> - <%= listDepartment[i].ten_dv
                    %>
                  </option>
                  <% } %>
                </select>
                <label for="department_sent">Đơn vị gửi</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="contact_edit"
                  name="nguoi_lh"
                  placeholder="Người liên hệ"
                  required
                />
                <label for="nguoi_lh">Người liên hệ</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="phone_edit"
                  name="dien_thoai"
                  placeholder="Số điện thoại"
                  required
                />
                <label for="phone">Số điện thoại</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <select
                  id="take_person_edit"
                  name="nguoi_nhan"
                  class="form-select"
                  aria-placeholder="Người nhận"
                >
                  <% for ( var i = 0; i < listUser.length; i++ ) { %>
                  <option value="<%= listUser[i].fullname %>">
                    <%= listUser[i].fullname %>
                  </option>
                  <% } %>
                </select>
                <label for="take_person">Người nhận</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <select
                  id="sign_person_edit"
                  name="nguoi_ky_vb"
                  class="form-select"
                  aria-placeholder="Người nhận"
                >
                  <% for ( var i = 0; i < listUser.length; i++ ) { %>
                  <option value="<%= listUser[i].fullname %>">
                    <%= listUser[i].fullname %>
                  </option>
                  <% } %>
                </select>
                <label for="sign_person">Người ký văn bản</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <select id="status_edit" name="trang_thai" class="form-select">
                  <% for ( var i = 0; i < listStatus.length; i++ ) { %>
                  <option value="<%= listStatus[i].ma_tt %>">
                    <%= listStatus[i].ten_tt %>
                  </option>
                  <% } %>
                </select>
                <label for="status">Trạng thái</label>
              </div>
              
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder=""
                  id="note_edit"
                  name="ghi_chu"
                  required
                  style="height: 100px"
                ></textarea>
                <label for="note">Ghi chú</label>
              </div>
            </div>

            <div class="col-12">
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-primary">Lưu</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
