<div class="jumbotron p-3">
  <div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight"><h3>Danh sách sản phẩm</h3></div>
    <div class="p-2 bd-highlight">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        Thêm sản phẩm
      </button>
    </div>
  </div>
  <div class="card p-3 mb-3">
    <form action="/admin/products/list" method="get">
      <div class="d-flex justify-content-around align-items-center">
        <div class="p-2">
          <input
            id="pName"
            name="pName"
            type="text"
            class="form-control"
            placeholder="Tên sản phẩm"
            value="<%= filters.name %>"
          />
        </div>
     
          <div style="width: 250px;" class="p-2">
            
            <select id="category" name="category" class="form-select">
              <option hidden value="">-Danh mục-</option>
              <%
              for ( var i = 0; i < listCategories.length; i++ )
              {
                  var selected = ( listCategories[i]._id.toString() === filters.category ) ? "selected" : "";
                  
                  %><option value="<%= listCategories[i]._id %>" <%= selected %>><%= listCategories[i].name %></option><%
              }
              %>
              </select>
          </div>
          <div style="width: 250px;" class="p-2">
  
            <select
              name="star"
              id="star"
              class="form-select"
              aria-label="Select star"
            >
              <option hidden value="">-Đánh giá-</option>
              <option value="0" <%= filters.star==='0' ? 'selected' : "" %>>0 sao</option>
              <option value="1" <%= filters.star==='1' ? 'selected' : "" %>>1 sao</option>
              <option value="2" <%= filters.star==='2' ? 'selected' : "" %>>2 sao</option>
              <option value="3" <%= filters.star==='3' ? 'selected' : "" %>>3 sao</option>
              <option value="4" <%= filters.star==='4' ? 'selected' : "" %>>4 sao</option>
              <option value="5" <%= filters.star==='5' ? 'selected' : "" %>>5 sao</option>
            </select>
          </div>
        <div class="p-2">
          <button class="btn btn-primary" type="submit">Tìm kiếm</button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            onclick="onClickResetProduct()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
  <% if(products.length > 0) { %>
  <table class="table table-bordered bg-white mt-3">
    <thead>
      <tr>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Danh mục</th>
        <th scope="col">Tác giả</th>
        <th scope="col">Đánh giá</th>
        <th scope="col">Giá</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(item, index) { %>
      <tr>
        <td class="w-2">
          <img src="<%= item.imageUrl %>" height="50px" width="50px" />
        </td>
        <td
          style="cursor: pointer"
          class="w-25"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="<%= item.name %>"
        >
          <span class="d-inline-block text-truncate" style="max-width: 200px">
            <%= item.name %>
          </span>
        </td>
        <td class="w-25"><%= item.catName %></td>
        <td scope="w-2"><%= item.author %></td>
        <td class="w-2">
          <% for (var j = 0; j < 5; j++){ %> <% if (j < item.rate){ %>
          <span class="fa fa-star checked"></span>
          <% } else { %>
          <span class="fa fa-star"></span>
          <% } %> <% } %>
        </td>
        <td class="w-2"><%= item.price %> $</td>
        <td class="w-2">
          <button
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            type="button"
            class="btn btn-outline-primary"
            onclick='editProduct("<%= item._id %>")'
          >
            <svg
              style="cursor: pointer"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
          <button
            onclick='deleteItem("<%= item._id %>")'
            type="button"
            class="btn btn-outline-danger"
          >
            <svg
              style="cursor: pointer"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
              />
            </svg>
          </button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination" id="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% for(var i=1; i <= pages; i++) { %>
        <% var isActived = ( i === currentPage ) ? "active" : ""; %>
      <li class="page-item <%= isActived %>">
        <a class="page-link" href="/admin/products/list?page=<%= i %>"
          ><%= i %></a
        >
      </li>
      <% }; %>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <% } else { %>
    <div class="col-12">
      <div class="card bg-light p-5">
        <img
          style="margin: auto"
          width="200px"
          height="200px"
          src="https://cdn0.fahasa.com/skin//frontend/ma_vanese/fahasa/images/checkout_cart/ico_emptycart.svg"
        />
        <div class="fst-italic m-auto">
          Không tìm thấy Sản phẩm phù hợp &#128517;
        </div>
      </div>
    </div>
  <% } %>
  <div
    class="modal fade"
    id="createModal"
    tabindex="-1"
    aria-labelledby="createModal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModal">Thêm sản phẩm</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input type="file" name="file" id="image_file" />
          <button
            type="button"
            class="btn btn-outline-primary"
            onclick="uploadImage()"
          >
            Lưu ảnh
          </button>

          <form class="row g-3" action="/admin/products/add" method="post">
            <div class="col-md-12">
              <img src="" height="100px" width="100px" id="imageUpload" />
              <input
                style="display: none"
                type="text"
                class="form-control"
                name="imageUrl"
                id="imageUrl"
                value=""
              />
            </div>
            <div class="col-md-6">
              <label for="name" class="form-label">Tên sản phẩm</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nhập tên"
                required
              />
            </div>
            <div class="col-6">
              <label for="price" class="form-label">Giá</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                placeholder="Nhập giá"
                min="0"
                required
              />
            </div>
            <div class="col-6">
              <label for="category" class="form-label">Danh mục</label>
              <select
                name="categoryId"
                id="category"
                class="form-select"
                aria-label="Select ategory"
                required
              >
                <option>---</option>
                <% listCategories.forEach((item) => { %>
                <option value="<%= item._id %>"><%= item.name %></option>
                <% }) %>
              </select>
            </div>
            <div class="col-6">
              <label for="author" class="form-label">Tác giả</label>
              <input
                type="text"
                class="form-control"
                id="author"
                name="author"
                placeholder="Nhập tên tác giả"
                required
              />
            </div>
            <div class="col-12">
              <label for="description" class="form-label">Mô tả</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
                placeholder="Nhập mô tả"
                rows="3"
                required
              ></textarea>
            </div>

            <div class="col-12">
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-primary">Thêm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal">Chỉnh sửa sản phẩm</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input type="file" name="file" id="image_file_edit" />
          <button
            type="button"
            class="btn btn-outline-primary"
            onclick="uploadImageForEdit()"
          >
            Lưu ảnh
          </button>
          <form class="row g-3" action="/admin/products/edit" method="post">
            <div class="col-md-12">
              <img src="" height="100px" width="100px" id="imageUploadEdit" />
              <input
                style="display: none"
                type="text"
                class="form-control"
                name="imageUrl"
                id="imageUrlEdit"
                value=""
              />
            </div>
            <div>
              <input
                type="hidden"
                class="form-control"
                id="_idEdit"
                name="_id"
                value=""
              />
            </div>
            <div class="col-md-6">
              <label for="name" class="form-label">Tên sản phẩm</label>
              <input
                type="text"
                class="form-control"
                id="nameEdit"
                name="name"
                placeholder="Nhập tên"
                value=""
                required
              />
            </div>
            <div class="col-6">
              <label for="price" class="form-label">Giá</label>
              <input
                type="number"
                class="form-control"
                id="priceEdit"
                name="price"
                placeholder="Nhập giá"
                value=""
                min="0"
                required
              />
            </div>
            <div class="col-6">
              <label for="categoriEdit" class="form-label">Danh mục</label>
              <select
                name="categoryId"
                id="categoriEdit"
                class="form-select"
                aria-label="Select ategory"
                required
              >
                <option>---</option>
                <% listCategories.forEach((item) => { %>
                <option value="<%= item._id %>"><%= item.name %></option>
                <% }) %>
              </select>
            </div>
            <div class="col-6">
              <label for="author" class="form-label">Tác giả</label>
              <input
                type="text"
                class="form-control"
                id="authorEdit"
                name="author"
                placeholder="Nhập tên tác giả"
                value=""
                required
              />
            </div>
            <div class="col-12">
              <label for="descriptionEdit" class="form-label">Mô tả</label>
              <textarea
                class="form-control"
                id="descriptionEdit"
                name="description"
                placeholder="Nhập mô tả"
                rows="3"
                value=""
                required
              ></textarea>
            </div>

            <div class="col-12">
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-primary">Lưu</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
