<div class="jumbotron">
  <div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight"><h3>Danh sách mã giảm giá</h3></div>
    <div class="p-2 bd-highlight">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        Thêm mã giảm giá
      </button>
    </div>
  </div>
  <div class="card p-3 mb-3">
    <form action="/admin/promotion/list" method="get">
      <div class="d-flex justify-content-around align-items-center">
        <div class="p-2">
          <input
            id="scode"
            name="code"
            type="text"
            class="form-control"
            placeholder="Mã giảm giá"
            value="<%= filters.code %>"
          />
        </div>
        <div style="width: 250px" class="p-2">
          <input
            id="sname"
            name="name"
            type="text"
            class="form-control"
            placeholder="Tên chương trình"
            value="<%= filters.name %>"
          />
        </div>
        <div style="width: 250px" class="p-2">
          <select id="status" name="status" class="form-select" aria-label="status select">
            <option hidden value="" <%= filters.status==='' ? 'selected' : "" %>>Trạng thái</option>
            <option value="">Tất cả trạng thái</option>
            <option value="active" <%= filters.status==='active' ? 'selected' : "" %>>Đang hoạt động</option>
            <option value="coming" <%= filters.status==='coming' ? 'selected' : "" %>>Sắp diễn ra</option>
            <option value="out" <%= filters.status==='out' ? 'selected' : "" %>>Hết hạn</option>
          </select>
        </div>
        <div class="p-2">
          <button class="btn btn-primary" type="submit">Tìm kiếm</button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            onclick="onClickResetPromotion()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
  <% if(promotion.length > 0) { %>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col-2">Mã giảm giá</th>
        <th scope="col-2">Chương trình giảm giá</th>
        <th scope="col-1">Giảm giá</th>
        <th scope="col-2">Thời gian bắt đầu</th>
        <th scope="col-2">Thời gian kết thúc</th>
        <th scope="col-2">Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <% promotion.forEach(function(item, index) { %>
      <tr>
        <td scope="w-2"><%= item.code %></td>
        <td
          style="cursor: pointer"
          class="w-25"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <span class="d-inline-block text-truncate" style="max-width: 200px">
            <%= item.name %>
          </span>
        </td>
        <td scope="w-2"><%= item.GiamGia %>%</td>
        <td scope="w-2"><%= item.start_date %></td>
        <td scope="w-2"><%= item.end_date %></td>
        <td scope="w-2">
          <% if(item.status === 'coming') { %>
          <span class="badge bg-primary">Sắp diễn ra</span>
          <% } %> <% if(item.status === 'out') { %>
          <span class="badge bg-danger">Hết hạn</span>
          <% } %> <% if(item.status === 'active') { %>
          <span class="badge bg-success">Đang hoạt động</span>
          <% } %>
        </td>

        <td class="w-2">
          <button
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            type="button"
            class="btn btn-outline-primary"
            onclick='editPromotion("<%= item._id %>")'
          >
            <svg
              style="cursor: pointer"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
          <button
            onclick='deletePromotion("<%= item._id %>")'
            type="button"
            class="btn btn-outline-danger"
          >
            <svg
              style="cursor: pointer"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
              />
            </svg>
          </button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination" id="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% for(var i=1; i <= pages; i++) { %>
        <% var isActived = ( i === currentPage ) ? "active" : ""; %>
      <li class="page-item <%= isActived %>">
        <a class="page-link" href="/admin/promotion/list?page=<%= i %>"
          ><%= i %></a
        >
      </li>
      <% }; %>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <% } else { %>
    <div class="col-12">
      <div class="card bg-light p-5">
        <img
          style="margin: auto"
          width="200px"
          height="200px"
          src="https://cdn0.fahasa.com/skin//frontend/ma_vanese/fahasa/images/checkout_cart/ico_emptycart.svg"
        />
        <div class="fst-italic m-auto">
          Không tìm thấy Mã giảm giá phù hợp &#128517;
        </div>
      </div>
    </div>
  <% } %>
  <div
    class="modal fade"
    id="createModal"
    tabindex="-1"
    aria-labelledby="createModal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModal">Thêm mã giảm giá</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form class="row g-3" action="/admin/promotion/add" method="post">
            <div class="col-12">
              <label for="name" class="form-label">Code giảm giá</label>
              <input
                type="text"
                class="form-control"
                id="code"
                name="code"
                placeholder="Nhập code"
                required
              />
            </div>
            <div class="col-12">
              <label for="name" class="form-label">Tên mã giảm giá</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nhập tên"
                required
              />
            </div>
            <div class="col-12">
              <label for="name" class="form-label">Giảm giá</label>
              <input
                type="text"
                class="form-control"
                id="GiamGia"
                name="GiamGia"
                placeholder="Nhập số phần trăm giảm giá"
                required
              />
            </div>
            <div class="col-6">
              <label for="price" class="form-label">Thời gian bắt đầu</label>
              <input
                type="datetime-local"
                class="form-control"
                id="startDate"
                name="startDate"
                required
              />
            </div>
            <div class="col-6">
              <label for="price" class="form-label">Thời gian kết thúc</label>
              <input
                type="datetime-local"
                class="form-control"
                id="endDate"
                name="endDate"
                required
              />
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Mô tả</label>
              <textarea
                class="form-control"
                id="desc"
                name="desc"
                placeholder="Nhập mô tả"
                rows="3"
                required
              ></textarea>
            </div>

            <div class="col-12">
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-primary">Thêm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal">Chỉnh sửa mã giảm giá</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" action="/admin/promotion/edit" method="post">
            <div>
              <input
                type="hidden"
                class="form-control"
                id="_idEdit"
                name="_id"
              />
            </div>
            <div class="col-12">
              <label for="name" class="form-label">Code giảm giá</label>
              <input
                type="text"
                class="form-control"
                id="codeEdit"
                name="code"
                placeholder=""
                required
              />
            </div>
            <div class="col-6">
              <label for="name" class="form-label">Tên mã giảm giá</label>
              <input
                type="text"
                class="form-control"
                id="nameEdit"
                name="name"
                placeholder="Nhập tên"
                required
              />
            </div>
            <div class="col-12">
              <label for="name" class="form-label">Giảm giá</label>
              <input
                type="text"
                class="form-control"
                id="GiamGiaEdit"
                name="GiamGia"
                placeholder="Nhập số phần trăm giảm giá"
                required
              />
            </div>
            <div class="col-6">
              <label for="price" class="form-label">Thời gian bắt đầu</label>
              <input
                type="datetime"
                class="form-control"
                id="startDateEdit"
                name="startDate"
                value=""
                required
              />
            </div>
            <div class="col-6">
              <label for="price" class="form-label">Thời gian kết thúc</label>
              <input
                type="datetime"
                class="form-control"
                id="endDateEdit"
                name="endDate"
                value=""
                required
              />
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Mô tả</label>
              <textarea
                class="form-control"
                id="descEdit"
                name="desc"
                placeholder="Nhập mô tả"
                rows="3"
                required
                value=""
              ></textarea>
            </div>

            <div class="col-12">
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-primary">Lưu</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
